h2{
	color: #595238;
	margin: 0;
	text-align: center;
    font-family: 'Arvo', serif;
    font-size: 30px;
}
.image{
	border-radius: 50%;
	width: 250px;
}
.profilesection{
	text-align: center;
	height: 100vh;
	min-height: 500px;
	padding-top: 25vh;
	background-color: #3CA59D;
	background-image: url('eberhard-grossgasteiger-S-2Ukb_VqpA-unsplash.jpg');
}
h1{
	color: #204051;
	font-size: 70px;
	font-family: 'Fondamento',cursive;
}
p{
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}
.achievements,.skills,.education,.contact,.website,.certifications{
		padding: 10px;
		background-color: #1DD3BD;
		text-align: center;
		font-family: 'Hind Siliguri', sans-serif;

}
body{
	background-image: url('sincerely-media-onLVa0nATFA-unsplash.jpg');
	opacity: 40%;
	margin: 0;
}
body>a{
	text-align: center;
	background-color: #87D4C5;
}
.achievements{
	text-align: center;
}
tr{
	text-align: center;
}

div{
	text-align: center;
	align-content: center;
}
a{
	text-decoration: none;
}
